.header {
  .header-nav {
    display: flex;    
    height: 6em;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    
    .header-nav--logo {
      flex-grow: 1;
      .header-nav--logo-text {
        font-size: 1.8em;
        letter-spacing: 2px;
      }
    }
    .header-nav--navigation {
      .header-nav--navigation-ul {
        display: flex;
        li {
          a {
            font-family: 'Cairo';
            padding: 1em;
            font-size: .9em;
            font-weight: 600;
            transition: color ease-out $delay;
            &:hover, &:focus {
              color: $secondary-color;
            }
          }
        }
      }
    }
  }
}